div.gallery {
  border: 1px solid #ccc;
  background-color: #BAC3FF;
  height: 520px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive-gallery {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  padding-top: 10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.desc {
  padding: 5px;
  font-size: 1em;
  vertical-align: middle;
}

@media only screen and (max-width: 1300px) {
  .desc {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1000px) {
  .responsive-gallery {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (min-width: 701px) {
  div.gallery {
    height: 530px;
  }
}

@media only screen and (max-width: 800px) {
  .responsive-gallery {
    width: 100%;
  }
}
