/* font for title */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');

body {
    margin: auto;
    color: #000;
    font-family: 'Lato', sans-serif;
    background-image: url("../images/backgrounds/leaf-desaturated.jpg");
}

.content {
    padding: 0 50px 50px 50px;
}

/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "title"
        "menu-content"
        "main"
        "footer";
    
}

.title {
    grid-area: title;
    text-align: center;
    background-image: url("../images/france-flag-resized.png");
    background-size: 100% auto;
    font-size: 1.5vw;
}

.menu-content {
    grid-area: menu-content;
    font-size: 150%;
    text-align: center;
    padding: 20px;
    background-color: #BAC3FF; /* dark gray */
}

.main {
    grid-area: main;
    background-color: rgba(240, 240, 240, 0.5);  /* light gray */
}


.footer {
    grid-area: footer;
    text-align: right;
    background-color: #FFB1B5; /* pastel red */
}

/* ---- End of grid setup ---- */

/* Responsive image rules */

.responsive {
    width: 100%;
    height: auto;
}

/* -000- Area styling -000- */

.box {
    /* border-radius: 10px; */
    padding: 20px;
}


/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Darker Grotesque', sans-serif;
}

/* Style contact embed to take the full page */

.contact {
    width: 100%;
}

/* Navigation Links */
.menu-content a, #bar-menu a {font-weight: bold;}
.menu-content a:link, #bar-menu a:link, .menu-content a:visited, #bar-menu a:visited {color: #000;} /* black */
.menu-content a:hover, #bar-menu a:hover {text-decoration: none;}

/* links in page */
a {font-weight: bold;}
a:link{color: #4F0C1D;} /*dark_red */
a:visited{color: #002654;} /* dark blue */
a:hover{color: #000;}    /* Black*/

@media (min-width: 768px) {
    .menu-content {
        visibility: visible;
    }
}

@media (max-width: 767px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "top-bar"
            "title"
            "main"
            "footer";
        grid-gap: 0;
    }

    .content {
        padding: 0;
    }

    .menu-content {
        visibility: hidden;
    }
}















